<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="LocalPackages" value=".\Redist" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>

  <config>
    <!-- Add this line to specify the new cache location -->
    <add key="globalPackagesFolder" value="D:\NuGetPackageCache" />
  </config>

  <packageSourceMapping>
    <packageSource key="LocalPackages">
      <package pattern="SujaySarma.Data.Core" />
    </packageSource>
    
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>